/*
.pimg {
  height: 125px;
  width: 125px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.pname{
	margin-top: 30px !important;
	font-size: 40px;
	font-weight: bold;
}
*/
.pureBody{
	margin:0px 120px;
	border: 2px solid green;
	padding: 30px;
	height: 800px;
}
.uinp{
	margin-left:30%;
	font-size: 30px;
	font-family: Comic Sans MS;
	text-align:center;
	border-radius: 8px;
}
.usub{
	margin-left: 8px;
	font-size: 30px;
	font-family: Comic Sans MS;
	border-radius: 8px;
}

.image img{
	border-radius: 50%;
	width: 120px;
	height: 120px;
	padding: 40px 65px;

}
.http{
	position: absolute;
	padding: 10px 5px;
	margin-top: -40px;
	margin-left: 50px;
}
.basic{
	position: absolute;
	margin:-180px 200px;
}
.bio{
	margin:0px;
}
.location{
	margin: 7px 2px;
}
.twitter{
	margin:7px -1px;
}